CarMonitor.Client/Connected Services/ConsumptionServiceReference/CarMonitor.Service.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarMonitor.Service.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarMonitor.Service.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConsumptionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Distance" type="xs:double" />
      <xs:element minOccurs="0" name="FuelVolume" type="xs:double" />
      <xs:element minOccurs="0" name="PricePerLitre" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsumptionDto" nillable="true" type="tns:ConsumptionDto" />
  <xs:complexType name="AvgConsumptionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvgConsumption" type="xs:double" />
      <xs:element minOccurs="0" name="AvgPrice" type="xs:double" />
      <xs:element minOccurs="0" name="LastConsumption" type="xs:double" />
      <xs:element minOccurs="0" name="TotalPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvgConsumptionDto" nillable="true" type="tns:AvgConsumptionDto" />
</xs:schema>