CarMonitor.Client/Connected Services/ProfileServiceReference/ProfileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarMonitor.Service.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarMonitor.Service.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProfileDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileDto" nillable="true" type="tns:ProfileDto" />
</xs:schema>