CarMonitor.Client/Connected Services/ProfileServiceReference/ProfileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProfileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/CarMonitor/ProfileService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/CarMonitor/ProfileService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/CarMonitor/ProfileService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarMonitor.Service.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfileService_GetProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfile" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GetProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_CreateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProfile" />
  </wsdl:message>
  <wsdl:message name="IProfileService_CreateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfileService">
    <wsdl:operation name="GetProfile">
      <wsdl:input wsam:Action="http://tempuri.org/IProfileService/GetProfile" message="tns:IProfileService_GetProfile_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IProfileService/GetProfileResponse" message="tns:IProfileService_GetProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProfile">
      <wsdl:input wsam:Action="http://tempuri.org/IProfileService/CreateProfile" message="tns:IProfileService_CreateProfile_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IProfileService/CreateProfileResponse" message="tns:IProfileService_CreateProfile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProfileService" type="tns:IProfileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProfile">
      <soap:operation soapAction="http://tempuri.org/IProfileService/GetProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProfile">
      <soap:operation soapAction="http://tempuri.org/IProfileService/CreateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileService">
    <wsdl:port name="BasicHttpBinding_IProfileService" binding="tns:BasicHttpBinding_IProfileService">
      <soap:address location="http://localhost:8080/CarMonitor/ProfileService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>